# gitignore file for github directory pyincore_notebooks

*.zip
*.h5
decision_variable*.csv
!decision_variable_B20_X0.csv
!decision_variable_B20_X42.csv
!decision_variable_B20_X79.csv
!decision_variable_B40_X0.csv
!decision_variable_B40_X122.csv
!decision_variable_B40_X376.csv
!decision_variable_B60_X0.csv
!decision_variable_B60_X44.csv
!decision_variable_B60_X235.csv
!decision_variable_B20_X0.csv
!decision_variable_B20_X18.csv
!decision_variable_B20_X199.csv
!decision_variable_B40_X0.csv
!decision_variable_B40_X119.csv
!decision_variable_B40_X196.csv
!decision_variable_B60_X0.csv
!decision_variable_B60_X205.csv
!decision_variable_B60_X259.csv