# gitignore file for github directory pyincore_notebooks

*.zip
*.h5
decision_variable*.csv
!decision_variable_B20_X0
!decision_variable_B20_X42
!decision_variable_B20_X79
!decision_variable_B40_X0
!decision_variable_B40_X122
!decision_variable_B40_X376
!decision_variable_B60_X0
!decision_variable_B60_X44
!decision_variable_B60_X235
!decision_variable_B20_X0
!decision_variable_B20_X18
!decision_variable_B20_X199
!decision_variable_B40_X0
!decision_variable_B40_X119
!decision_variable_B40_X196
!decision_variable_B60_X0
!decision_variable_B60_X205
!decision_variable_B60_X259